<main class="pageContainer" ng-click="$rootScope.isMenuActive = false">
  <form>
    <div class="createMatchForm">
      <i class="icon flaticon-calendar"></i>
      <input type="datetime-local" ng-model="match.diahora" placeholder="Data e Hora"/>
    </div>
    <div class="createMatchForm">
      <i class="icon flaticon-location"></i>
      <input type="text" ng-model="match.local" placeholder="Local"/>
    </div>
    <div class="createMatchForm">
      <i class="flaticon-game-2"></i>
      <select class="mdb-select" ng-model="match.esporte" ng-change="carregarNumeroDeJogadores(match.esporte)" ng-options="sport.nome for sport in sports | orderBy: 'nome'">
        <option value="">Selecione um esporte</option>
      </select>
    </div>
    <div class="createMatchForm">
      <i class="icon flaticon-player"></i>
      <input type="Number" ng-model="match.numeroJogadores" placeholder="Número de Jogadores" min="{{minimoDeJogadores}}"/>
    </div>
    <div class="createMatchForm">
      <i class="icon flaticon-people"></i>
      <button type="button" class="btnForm" ng-click="convocar()">Convocar Atletas ({{numAtletas}} Atletas)</button>
    </div>
    <div class="createMatchForm">
      <i class="icon flaticon-piggy-bank"></i>
      <input type="text" ng-model="match.valorQuadra" placeholder="Valor Total"/>
    </div>
    <div class="createMatchForm">
      <i class="iconInfo flaticon-signs"></i>
      <textarea class="infoField" ng-model="match.info" placeholder="Informações"></textarea>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-default" ng-click="createMatch(match)">Criar Partida</button>
      </div>
    </div>
  </form>
</main>
<div id="modal" ng-if="isModalActive == true">
  <div class="modal-box">
    <div class="modal-content">
      <div class="createMatchForm" ng-repeat="user in users">
        <input type="checkbox" class="convocarCheck" ng-model="user.selecionado" ng-click="verificaSelecionado(users)"/><span class="user">{{user.name}}</span>
      </div>
      <div class="row btnLogin fixo">
        <div class="col text-center">
          <button class="btn btn-default" ng-click="confirmarConvocados()">Convocar atletas ({{numAtletas}})</button>
        </div>
      </div>
    </div>
  </div>
</div>
