<main class="pageContainer" ng-click="$rootScope.isMenuActive = false">
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Próxima Partida:</p>
      <p class="sectionContent">Dia: 07/02/2018 as 21:00</p>
      <p class="sectionContent">Local: Clube do Comércio</p>
    </div>
  </div>
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Seus convites:</p>
      <p class="sectionContent">Você possui 2 convites para a semana</p>
    </div>
  </div>
<div class="fab">
  <button class="btnFab" type="button" ng-click="redirectCreateMatch()">+</button>
</div>
