<main class="pageContainer">
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Próxima Partida:</p>
      <p class="sectionContent">Dia: xx/xx/xxx as xx:xx</p>
      <p class="sectionContent">Local: Quadrinha</p>
      <p class="sectionContent">X confirmados faltam X</p>
    </div>
  </div>
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Partidas nas redondezas:</p>
      <p class="sectionContent">Você possui XX partidas próximas a você</p>
    </div>
  </div>
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Você aceitou:</p>
      <p class="sectionContent">XX% dos convites</p>
    </div>
    <div class="col info">
      <p class="sectionTitle">Avaliação:</p>
      <p class="sectionContent">*****</p>
    </div>
  </div>
  <div class="row btnLogin">
    <div class="col text-center">
      <button class="btn btn-default" ng-click="ctrl.redirectCreateMatch()">Criar Partida</button>
    </div>
  </div>
</main>
