<main class="pageContainer" ng-click="$rootScope.isMenuActive = false">
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Próxima Partida:</p>
      <p class="sectionContent">Quando? {{nextMatch.diahora | date:'dd/MM/yyyy HH:mm'}}</p>
      <p class="sectionContent">Onde? {{nextMatch.local.nome}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col info">
      <p class="sectionTitle">Seus convites:</p>
      <p class="sectionContent">Você possui {{invites.length}} convites</p>
    </div>
  </div>
<div class="fab">
  <button class="btnFab" type="button" ng-click="redirectCreateMatch()">+</button>
</div>
