<main class="container">
  <div class="menuLogin">
    <form ng-submit="ctrl.redirectDashboard()">
      <div class="md-form">
        <input type="text" id="login" class="form-control loginForm">
        <label for="login" class="label">Login</label>
      </div>
      <div class="md-form">
        <input type="password" id="senha" class="form-control loginForm">
        <label for="senha" class="label">Senha</label>
      </div>
      <div class="text-center">
        <button class="btn btn-login" type="submit">Login</button>
      </div>
    </form>
    <div class="text-center">
      <button class="cadastre" type="button" ng-click="ctrl.redirectCadastro()">Não é cadastrado? Cadastre-se!</button>
    </div>
  </div>
</main>
