<main class="container">
  <div class="menuLogin">
    <form ng-submit="ctrl.redirectDashboard()">
      <div class="md-form">
        <input type="text" id="login" class="form-control">
        <label for="login" class="label">Login</label>
      </div>
      <div class="md-form">
        <input type="password" id="senha" class="form-control">
        <label for="senha" class="label">Senha</label>
      </div>
      <div class="text-center">
        <button class="btn btn-default" type="submit">Login</button>
      </div>
    </form>
  </div>
</main>
