<header class="header">
  <button class="menu-anchor" type="button" ng-click="$rootScope.isMenuActive = !$rootScope.isMenuActive">
    <i class="fa fa-bars"></i>
  </button>
  <div class="title">
    Bora Jogar?
  </div>
</header>
<menu ng-class="{'active': $rootScope.isMenuActive}">
  <ul>
      <li><a href="views/dashboard">Dashboard</a></li>
      <li><a href="#">Criar Partida</a></li>
      <li><a href="#">Buscar Partidas</a></li>
      <li><a href="#">Meus Convites</a></li>
      <li><a href="#">Sair</a></li>
  </ul>
</menu>
