body{
  height: 100%;
  min-height: 100%;
}
.colorBody{
  background-color: #42CC99;
}
main div{
  margin: 0 auto;
}
.container{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.menuLogin div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuLogin button{
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.menuLogin input{
  background-color: #42CC99;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.btnLogin{
  background-color: white;
  color: #06aa19;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.menuLogin label{
  color: #FFFFFF;
}

.loginWithFacebook{
  background-color: #4267B2;
  color: #FFFFFF;
  padding-right: 0;
  height: 2.6em;
  margin-top: 1em;
  display: flex;
  flex-flow: row;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.loginWithFacebook:hover{
  background-color: #273f70;
  color: #FFFFFF;
  height: 2.6em;
  margin-top: 1em%;
  display: flex;
  flex-flow: row;
  cursor: pointer;
}

.loginWithFacebook img{
  display: flex;
  align-items: left;
  margin-left: 0
}
.loginWithFacebook p{
  display: flex;
  display: -webkit-flex;
  align-items: right;
  -webkit-align-items: right;
  align-items: right;
  -webkit-justify-content: right;
  justify-content: right;
  padding-top: 1em;
  padding-left: 0.5em;
}
.facebookImage{
  height: 90%;
}

.btnLogin:hover{
  background-color: #e0e0e0;
  color: #06aa19;
}
