    /*
    Flaticon icon font: Flaticon
    Creation date: 24/11/2017 18:27
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-technology:before { content: "\f100"; }
.flaticon-internet:before { content: "\f101"; }
.flaticon-tool:before { content: "\f102"; }
.flaticon-social:before { content: "\f103"; }
.flaticon-athletic:before { content: "\f104"; }
.flaticon-ball-2:before { content: "\f105"; }
.flaticon-football-1:before { content: "\f106"; }
.flaticon-player:before { content: "\f107"; }
.flaticon-game-2:before { content: "\f108"; }
.flaticon-people-1:before { content: "\f109"; }
.flaticon-ball-1:before { content: "\f10a"; }
.flaticon-silhouette:before { content: "\f10b"; }
.flaticon-football:before { content: "\f10c"; }
.flaticon-location:before { content: "\f10d"; }
.flaticon-calendar-1:before { content: "\f10e"; }
.flaticon-graphic:before { content: "\f10f"; }
.flaticon-party:before { content: "\f110"; }
.flaticon-people:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-signs-1:before { content: "\f113"; }
.flaticon-power:before { content: "\f114"; }
.flaticon-menu:before { content: "\f115"; }
.flaticon-signs:before { content: "\f116"; }
.flaticon-piggy-bank:before { content: "\f117"; }
.flaticon-calendar:before { content: "\f118"; }
.flaticon-game-1:before { content: "\f119"; }
.flaticon-ball:before { content: "\f11a"; }
.flaticon-game:before { content: "\f11b"; }
    
    $font-Flaticon-technology: "\f100";
    $font-Flaticon-internet: "\f101";
    $font-Flaticon-tool: "\f102";
    $font-Flaticon-social: "\f103";
    $font-Flaticon-athletic: "\f104";
    $font-Flaticon-ball-2: "\f105";
    $font-Flaticon-football-1: "\f106";
    $font-Flaticon-player: "\f107";
    $font-Flaticon-game-2: "\f108";
    $font-Flaticon-people-1: "\f109";
    $font-Flaticon-ball-1: "\f10a";
    $font-Flaticon-silhouette: "\f10b";
    $font-Flaticon-football: "\f10c";
    $font-Flaticon-location: "\f10d";
    $font-Flaticon-calendar-1: "\f10e";
    $font-Flaticon-graphic: "\f10f";
    $font-Flaticon-party: "\f110";
    $font-Flaticon-people: "\f111";
    $font-Flaticon-interface: "\f112";
    $font-Flaticon-signs-1: "\f113";
    $font-Flaticon-power: "\f114";
    $font-Flaticon-menu: "\f115";
    $font-Flaticon-signs: "\f116";
    $font-Flaticon-piggy-bank: "\f117";
    $font-Flaticon-calendar: "\f118";
    $font-Flaticon-game-1: "\f119";
    $font-Flaticon-ball: "\f11a";
    $font-Flaticon-game: "\f11b";