main div{
  margin: 0 auto;
}
.container{
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #42CC99 !important;
}

.label{
  color: #FFFFFF !important;
}

.loginForm{
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}

.btn-login{
  font-weight: bold;
  background-color: #FFFFFF;
  color: #42CC99 !important;
}

.btn-login:hover{
  font-weight: bold;
  background-color: #cecece !important;
  color: #42CC99 !important;
}

.loginForm:focus{
  border-color: #FFFFFF !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
}

.loginForm:focus .label{
  color: #FFFFFF !important;
}

.cadastre{
  background-color: #42CC99 !important;
  border: 0;
  color: #FFFFFF !important;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}
