body{
  height: 100%;
  min-height: 100%;
}

main div{
  margin: 0 auto;
}
.container{
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #42CC99 !important;
}

.menuLogin div label{
  color: #FFFFFF;
}

.menuLogin div .loginForm{
  border-color: #FFFFFF;
}

.menuLogin div button{
  font-weight: bold;
  background-color: #FFFFFF;
  color: #42CC99 !important;
}

.menuLogin div button:hover{
  font-weight: bold;
  background-color: #cecece !important;
  color: #42CC99 !important;
}

.loginForm:focus{
  border-color: #FFFFFF !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
}

.loginForm:focus .label{
  color: #FFFFFF !important;
}
