body{
  height: 100%;
  min-height: 100%;
  background-color: #42CC99 !important;
}

main div{
  margin: 0 auto;
}
.container{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.menuLogin div label{
  color: #FFFFFF;
}

.menuLogin div input{
  border-color: #FFFFFF;
}

.menuLogin div button{
  font-weight: bold;
  background-color: #FFFFFF;
  color: #42CC99 !important;
}

.menuLogin div button:hover{
  font-weight: bold;
  background-color: #cecece !important;
  color: #42CC99 !important;
}

input:focus{
  border-color: #FFFFFF !important;
}
