.header{
  background-color: #30CFC0 !important;
  width: 100%;
  height: 50px;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
  padding: 0px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
}

.title{
  color: #FFFFFF;
  line-height: 50px;
  margin-left: 20px
}

.menu-anchor {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}


menu {
    position: fixed;
    top: 50px;
    left: -300px;
    z-index: 1000;
    width: 220px;
    height: 100%;
    background: #30CFC0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: left .25s;
    -moz-transition: left .25s;
    -ms-transition: left .25s;
    transition: .25s left;
}

menu.active{
  left: 0px;
}

main {
    padding: 30px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

menu li a {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.3)!important;
    margin: 0 10px;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

menu li a:hover {
    background: #FFF;
    color: #30CFC0;
}

menu li a:hover span {
    color: #30CFC0;
}

menu li a:hover i {
    color: #30CFC0;
}

.header div p{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.menuOptions{
  text-align: left;
  display: flex;
  width: 100% !important;
}

.menuOptions a{
  width: 100%;
}

.menuOptions a i{
  margin-left: -30px;
  color: #FFFFFF;
}

.menuOptions a span{
  margin-left: 10px;
  color: #FFFFFF;
}
