#map, #modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 1000000;
}
.modal-content{
  top: 10px;
  left: 5px;
  border: none;
  border-radius: 0;
  margin-top: -1px;
  padding-top: 0;
  width: 100%;
  height: 100%;
}
