* {
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.pageContainer{
  width: 100%;
  background-color: #FFFFFF !important;
  margin-top: 35px;
  height: 91%;
}
.pageContainer2{
  width: 100%;
  background-color: #FFFFFF !important;
  margin-top: 30px;
  height: 91%;
}

.página{
  height: 100%;
  width: 100%;
}
.info{
  border: solid 1px !important;
  border-color: #30CFC0 !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow: column;
  padding: 0;
  cursor: pointer;
}

.sectionTitle{
  font-weight: bold;
  color: #113d16;
  padding: 0;
  flex: initial;
}

.createMatchForm{
  text-align: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: -20px;
}

.icon{
  margin-top: -5px !important;
  font-size: 30px !important;
}

.iconInfo{
  font-size: 30px !important;
}

.createMatchForm input{
  margin-left: 20px;
}

.createMatchForm select{
  margin-left: 10px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #BDBDBD !important;
  width: 100%;
  background-color: transparent;
  margin-left: 20px;
}

.createMatchForm select:focus {
  border-color: #BDBDBD !important;
  outline: none;
}

.createMatchForm input:focus{
  border-color: #BDBDBD !important;
  outline: none !important;
  box-shadow: none !important;
}

.infoField{
  width: 100%;
  border-color: #BDBDBD !important;
  border-radius: 5px;
  margin-right: 0;
  margin-left: 17px;
  padding: 0;
}

.fab{
  width: 60px;
  height: 60px;
  background-color: #30CFC0;
  border-radius: 50%;
  box-shadow: 0 5px 9px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}

.btnFab{
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  align-items: center;
  margin-top: -4px;
}

.btnForm{
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: solid 1px;
  border-color: #BDBDBD;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  margin-left: 20px;
}

.user{
  margin-left: 10px;
}

.convocarCheck{
  margin-top: 5px;
}

.fixo{
  position: absolute;
  bottom: 10px;
  left: calc(50% - 118px);
  z-index: 100;
}

.rodape{
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  z-index: 100;
}
.btnConfirm{
  margin-left: -1.5%;
}
.item-page-card{
  height: 100px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2) !important;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 118%;
  margin-left: -26px;
}
.item-page-component{
  margin-top: 5px;
  margin-left: 5px;
}

.lado{
  display: inline-block;
}
.findContent{
  position: absolute;
  width: 100%;
  left: -10px;
  top: 0;
}
.findField{
  width: 80% !important;
  margin-left: 2%;
}
.contentUsers{
  margin-top: 60px;
}
.endereco{
  width: 80%;
}
.convidados{
  margin-top: 10px;
  width: 45%;
  float: left;
  display: flex;
  text-align: center;
  justify-content: center;
}
.confirmados{
  margin-top: 10px;
  width: 45%;
  float: right;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
