* {
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
}

.pageContainer{
  width: 100%;
  background-color: #FFFFFF !important;
  margin-top: 50px;
}

.página{
  height: 100%;
  width: 100%;
}
.info{
  border: solid 1px !important;
  border-color: #30CFC0 !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow: column;
  padding: 0;
  cursor: pointer;
}

.sectionTitle{
  font-weight: bold;
  color: #113d16;
  padding: 0;
  flex: initial;
}

.createMatchForm{
  text-align: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.label{
  height: 30px;
  width: 30px;
}

.label img{
  height: 100%;
  width: 100%;
}

.createMatchForm input{
  margin-left: 10px;
}

.createMatchForm input:focus{
  border-color: #BDBDBD !important;
  outline: none !important;
  box-shadow: none !important;
}

.info{
  width: 100%;
  border-color: #BDBDBD !important;
  margin-right: 0;
  margin-left: 10px;
  padding: 0;
}

.iconInfo{
  margin-top: 10px;
}
