<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bora Jogar!?</title>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/mdb.min.css">
    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/mdb.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script>
    $(document).ready(function(){
      $('.menu-anchor').on('click touchstart', function(e){
        $('html').toggleClass('menu-active');
        e.preventDefault();
      });
    });
    </script>
  </head>
  <body>
    <header class="header">
      <span class="menu-anchor"></span>
      <div class="title">
        <p>Bora Jogar?</p>
      </div>
    </header>
    <menu>
      <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Buscar Partidas</a></li>
          <li><a href="#">Histórico</a></li>
          <li><a href="#">Grupos</a></li>
      </ul>
    </menu>
    <main>
      <div class="row">
        <div class="col info">
          <p class="sectionTitle">Próxima Partida:</p>
          <p class="sectionContent">Dia: xx/xx/xxx as xx:xx</p>
          <p class="sectionContent">Local: Quadrinha</p>
          <p class="sectionContent">X confirmados faltam X</p>
        </div>
      </div>
      <div class="row">
        <div class="col info">
          <p class="sectionTitle">Partidas nas redondezas:</p>
          <p class="sectionContent">Você possui XX partidas próximas a você</p>
        </div>
      </div>
      <div class="row">
        <div class="col info">
          <p class="sectionTitle">Você aceitou:</p>
          <p class="sectionContent">XX% dos convites</p>
        </div>
        <div class="col info">
          <p class="sectionTitle">Avaliação:</p>
          <p class="sectionContent">*****</p>
        </div>
      </div>
      <div class="row btnLogin">
        <div class="col text-center">
          <button class="btn btn-default">Criar Partida</button>
        </div>
      </div>
    </main>
  </body>
</html>
