<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bora Jogar!?</title>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/mdb.min.css">
    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/mdb.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script>
    $(document).ready(function(){
      $('.menu-anchor').on('click touchstart', function(e){
        $('html').toggleClass('menu-active');
        e.preventDefault();
      });
    });
    </script>
  </head>
  <body>
    <header class="header">
      <span class="menu-anchor"></span>
      <div class="title">
        <p>Bora Jogar?</p>
      </div>
    </header>
    <menu>
      <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Buscar Partidas</a></li>
          <li><a href="#">Histórico</a></li>
          <li><a href="#">Grupos</a></li>
      </ul>
    </menu>
    <main>
    </main>
  </body>
</html>
